Мы создаем приложение магазина цветов для IOS18. Используем SwiftUI, Swift, MVVM, Clean Architecture, Swift Concurrency.
Когда пишешь код будь уверен на 100%, что ты не ломаешь ничего существующего.
Всегда проверяй код на ошибки и баги.










